<launch>
  <node name="detect_grasps" pkg="gpd_ros" type="detect_grasps" output="screen">

    <!-- If sequential importance sampling is used (default: false) -->
<!--
    <param name="use_importance_sampling" value="false" />
-->

    <!-- What type of point cloud is used and what ROS topic it comes from -->
    <param name="cloud_type" value="0" /> <!-- 0: PointCloud2, 1: CloudIndexed, 2: CloudSamples -->
    <para